body, html, #root {
  font-family: 'Cabin', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 500px;
  overflow: hidden;
}

.app {
  height: 100%;
}

.app__popup {
  height: 100%;
  position: fixed;
  padding: 10% 20px 20px 20px;
  right: 0;
  left: 0;
  background-color: #1CACF4;
  z-index: 3;
  font-size: 18px;
  text-align: center;
}

.app__popup__button {
  font-family: 'Cabin', sans-serif;
  display: block;
  background: #FFEB3B;
  width: 100%;
  height: 50px;
  font-size: 26px;
  border-radius: 5px;
  border: none;
  margin: 30px auto 0 auto;
  cursor: pointer;
  max-width: 500px;
}

.app__game {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  grid-template-areas:
    "main"
    "footer";
  overflow: hidden;
}

.app__game__main {
  grid-area: main;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.app__game__main__container {
  position: relative;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__game__main__container__image {
  width: 95%;
  max-height: 285px;
}

.app__game__main__container__loader {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -15px;
}

.app__game__main__input {
  margin-top: 25px;
  width: 100%;
  max-width: 250px;
  font-size: 26px;
  border: 1px solid #70809078;
  border-radius: 24px;
  padding: 5px 15px;
  text-transform:uppercase;
}

.app__game__main__input:focus {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  outline: 0;
}

.app__game__health {
  grid-area: footer;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__game__health__life {
  margin-right: 15px;
  max-height: 35px;
  height: 100%;
}

.app__game__main__ending {
  margin-top: 8px;
  font-size: 18px;
  text-align: center;
}

.app__game__main__ending__score {
  color: goldenrod;
  font-size: 20px;
}

.app__game__main__ending__retry {
  margin-top: 20px;
  animation: flash linear 1s infinite;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: darkred;
}

.app__message {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 27px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__message--state-default {
  background-color: #2196F3;
}

.app__message--state-failure {
  background-color: darkred;
}

.app__message--state-success {
  background-color: darkgreen;
}

@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}